<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Календар</title>

<!-- Підключення jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Підключення Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Підключення Bootstrap Datepicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
</head>
<body>





<div class="container mt-4 text-center"> <!-- Додано клас text-center для центрування -->
    <h3>Календар</h3>
    <form method="post">
    <div class="row justify-content-center"> <!-- Додано клас justify-content-center для центрування -->
        <div class="col-md-8">
            <div id="calendar"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <input type="hidden" class="form-control" id="selected-dates" name="selected-dates">
        </div>
        <div class="col-md-6">
            <button class="btn" type="submit" style="background-color:#009688; color: white;"> Зберегти</button>
        </div>
    </div>
    </form>
</div>

<!-- Підключення Bootstrap та jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Підключення Bootstrap Datepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.uk.min.js"></script> <!-- Додано локалізацію для української мови -->

<script>
    $(document).ready(function() {
        // Ініціалізація календаря
        $('#calendar').datepicker({
            multidate: true,
            format: 'yyyy-mm-dd',
            todayHighlight: true,
            firstDay: 1,
            language: 'uk' // Встановлення української мови
        });

        // Оновлення значення вибраних дат при зміні
        $('#calendar').on('changeDate', function() {
            var selectedDates = $('#calendar').datepicker('getFormattedDate');
            $('#selected-dates').val(selectedDates);
        });
    });
</script>

</body>
</html>