{% extends 'base.html' %}

{% block title %}
Додавання працівника
{% endblock %}

{% block body %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="container">
    <div class="card">
    <article class="card-body mx-auto" style="max-width: 400px;">

      <h4> Додати працівника</h4>
    <form  method="post" class="form-floating">
      <div class="form-group input-group">
            <label for="floatingInputValue">ПІБ:</label>
            <input type="text" class="form-control" name="name" placeholder="Мосійчук Аліна Георгіївна" style="width:100%" id="floatingInputValue">
      </div>
        <div class="form-group input-group">
            <label for="fspecialization">Спеціалізація:</label>
            <input type="text" class="form-control" name="specialization" placeholder="Ортодонт" style="width:100%" id="fspecialization">

        </div>

        <div class="form-group input-group">
          <label for="lphone">Номер телефону:</label>
          <input type="text" class="form-control" name="phone" value="+380" style="width:100%" id="lphone" pattern="\+380\d{9}" inputmode="tel" required>

        </div>

        <button class="btn btn-success" type="submit" style="background-color:#009688; color: white;">Додати працівника</button>
    </form>
    </article>
              <div style="height: 50px;">
        </div>
    </div>


</div>


{% endblock %}