{% extends 'base.html' %}

{% block title %}
exit
{% endblock %}

{% block body %}
<div class="container">
    <h4 class="title "> Регістація пройшла успушно!</h4>
</div>

<script src="https://telegram.org/js/telegram-web-app.js"></script>
<script>
	let tg = window.Telegram.WebApp;
	tg.expand();
    tg.MainButton.color = "#2cab37";
    tg.MainButton.show()

<!--	window.onload = function() {-->
<!-- 		tg.WebApp.MainButton-->
<!--        .setText('CLOSE WEBVIEW')-->
<!--        .show()-->
<!--        .onClick(function(){ webviewClose(); });-->
<!--	};-->

   window.Telegram.WebApp.onEvent("mainButtonClicked", function(){
      tg.close();
   });

</script>
{% endblock %}