{% extends 'base.html' %}

{% block title %}
Дякуємо за реєстрацію
{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title">Дякуємо за реєстрацію!</h2>
                    <p class="card-text">Ваш обліковий запис було успішно створено.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



<script>
	let tg = window.Telegram.WebApp;
	tg.expand();
	tg.MainButton.text = "Готово";
    tg.MainButton.color = "#009688";
    tg.MainButton.show()

   window.Telegram.WebApp.onEvent("mainButtonClicked", function(){
      tg.sendData("Регістація пройшла успушно");
      tg.close();
   });

</script>
{% endblock %}