{% extends 'base.html' %}

{% block title %}
Form register
{% endblock %}


{% block body %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="container text-center">
    <div class="center-block mx-auto text-center">
    <ul class="nav flex-column">
  <li class="nav-item" >
    <a class="btn btn-danger" href="/stepform/{{botusername}}/{{bot_id}}/{{id}}" style="width:50%; margin: 10px; padding: 10px;">Регістрація</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-danger" href="/service_list/{{botusername}}" style="width:50%; margin: 10px; padding: 10px;">Список послуг</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-danger" href="/employee_list/{{botusername}}" style="width:50%; margin: 10px; padding: 10px;">Працівники</a>
  </li>
  <li class="nav-item">
    <a class="btn btn btn-danger" href="#" style="width:50%; margin: 10px; padding: 10px;">Графік</a>
  </li>
</ul>
    </div>
</div>

<script src="https://telegram.org/js/telegram-web-app.js"></script>
<!--<script>-->
<!--	let tg = window.Telegram.WebApp;-->
<!--	let submit = document.getElementById("submit");-->

<!--	window.onload = function() {-->
<!-- 	document.getElementById("name").value = tg.initDataUnsafe.user.first_name + " " + tg.initDataUnsafe.user.last_name;-->
<!--	};-->
<!--	tg.expand();-->

<!--	submit.addEventListener("click", () => {-->
<!--	document.getElementById("error").innerText = '';-->
<!--	let name = document.getElementById("name").value;-->
<!--	let email = document.getElementById("email").value;-->
<!--	let phone = document.getElementById("phone").value;-->
<!--	let job = document.getElementById("job").value;-->
<!--	let password = document.getElementById("password").value;-->
<!--	let repeatpassword = document.getElementById("repeatpassword").value;-->
<!--	if (name.length < 5){-->
<!--		document.getElementById("error").innerText = "Ошибка в имени";-->
<!--		return;-->
<!--	}-->
<!--	let data = {-->
<!--        name: name,-->
<!--        email: email,-->
<!--        phone: phone,-->
<!--        job: job,-->
<!--        password: password-->
<!--	}-->
<!--	tg.sendData(JSON.stringify(data))-->
<!--	tg.close();-->
<!--	});-->


<!--</script>-->
{% endblock %}
<!--container end.//-->