{% extends 'base.html' %}

{% block title %}
вхід
{% endblock %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
        body {
  background-color: #f8f9fa;
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
}
    </style>
{% block body %}
  <div class="container">
    <div class="login-container">
      <h2>Вхід</h2>
      <form method="post">
        <div class="form-group">
          <label for="phone">Телефон</label>
          <input type="text" class="form-control" id="phone" placeholder="Телефон" name="phone"  pattern="\+380\d{9}" inputmode="tel" value="+380" required>
        </div>
        <button type="submit" class="btn btn-primary">Увійти</button>
      </form>
    </div>
  </div>
{% endblock %}