{% extends 'base.html' %}

{% block title %}
User Profile Settings
{% endblock %}
{% block style %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      padding: 0px;
    }

    .container {
      max-width: 500px;
    }

    .form-group {
      margin-bottom: 20px;
    }

    table {
      width: 100%;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 10px;
      text-align: center;
    }

    /* Style for the photo preview */
   #workScheduleSettings {
      display: none;
    }
  </style>
{% endblock %}


{% block body %}
  <div class="container mt-4" style="top:0">
      <div class="d-flex justify-content-between">
      <h3>Профіль</h3>
        <div class="rounded-circle overflow-hidden" style="max-width: 40px; max-height: 60px;">
        <img id="photoPreview" src="{{url_for('static',filename='/img/{{employee[6]}}') }}" alt="Фото" class="img-fluid" style="width: 100%; height: 100%;">
      </div>

    </div>
  <form method="post" id="profileForm" enctype="multipart/form-data">
    <input type="hidden" name="employee_id" value="{{employee[0]}}">
    <div class="form-group mb-2">
      <label for="name">ПІБ</label>
      <input type="text" class="form-control" id="name" name="name" value="{{employee[1]}}">
    </div>
    <div class="form-group mb-2">
      <label for="phone">Телефон</label>
      <input type="tel" class="form-control" id="phone" name="phone" value="{{employee[2]}}">
    </div>
    <div class="form-group mb-2">
      <label for="email">Пошта</label>
      <input type="email" class="form-control" id="email" name="email" value="{{employee[6]}}">
    </div>
    <div class="form-group mb-2">
      <label for="profession">Спеціалізація</label>
      <input type="text" class="form-control" id="profession" name="specialization" value="{{employee[3]}}">
    </div>
    <div class="form-group mb-2">
      <label for="about">Про себе</label>
      <textarea class="form-control" id="about" name="about" rows="3">{{employee[4]}}</textarea>
    </div>
    <div class="form-group mb-2">
      <label for="photo">Завантажити фото</label>
      <input type="file" class="form-control-file" id="photo" name="photo">

    </div>
    <div class="d-flex justify-content-between align-items-center">
      <button type="submit" class="btn" id="saveButton" style="background-color:#009688; color: white;">Зберегти зміни</button>
      <a type="button" class="btn" id="detailsButton" style="background-color:#009688; color: white;">Робочий графік</a>
    <!-- Кнопки для редагування і збереження змін -->

    </div>
    </form>
      <!-- Блок для налаштувань робочого графіку -->
      <div id="workScheduleSettings">
      <!-- Нова секція налаштувань робочих годин -->
<!--      <h3>Робочий графік</h3>-->
      <table>
        <tr>
          <th>День</th>
          <th>Робочі години</th>
        </tr>
        <tr>
          <td>Понеділок</td>
          <td>
            <input type="time" class="form-control" id="workHoursStartMon" disabled>
            <span> по </span>
            <input type="time" class="form-control" id="workHoursEndMon" disabled>
            <div>
            <input type="checkbox" class="form-check-input" id="weekendMon" value="0">
            <label class="form-check-label" for="weekendMon">Вихідний</label>
            </div>
          </td>
        </tr>
        <tr>
          <td>Вівторок</td>
          <td>
            <input type="time" class="form-control" id="workHoursStartTr" disabled>
            <span> по </span>
            <input type="time" class="form-control" id="workHoursEndtr" disabled>
            <div>
            <input type="checkbox" class="form-check-input" id="weekendtr" value="0">
            <label class="form-check-label" for="weekendtr">Вихідний</label>
            </div>
          </td>
        </tr>
        <tr>
        <td>Середа</td>
          <td>
            <input type="time" class="form-control" id="workHoursStartWen" disabled>
            <span> по </span>
            <input type="time" class="form-control" id="workHoursEndWen" disabled>
            <div>
            <input type="checkbox" class="form-check-input" id="weekendWen" value="0">
            <label class="form-check-label" for="weekendWen">Вихідний</label>
            </div>
          </td>
        </tr>
        <tr>
        <td>Четвер</td>
          <td>
            <input type="time" class="form-control" id="workHoursStarttu" disabled>
            <span> по </span>
            <input type="time" class="form-control" id="workHoursEndtu" disabled>
            <div>
            <input type="checkbox" class="form-check-input" id="weekendtu" value="0">
            <label class="form-check-label" for="weekendtu">Вихідний</label>
              </div>
          </td>
        </tr>
        <tr>
        <td>Пятниця</td>
          <td>
            <input type="time" class="form-control" id="workHoursStartfr" disabled>
            <span> по </span>
            <input type="time" class="form-control" id="workHoursEndfr" disabled>
            <div>
            <input type="checkbox" class="form-check-input" id="weekendfr" value="0">
            <label class="form-check-label" for="weekendfr">Вихідний</label>
            </div>
          </td>
        </tr>
        <tr>
        <td>Субота</td>
          <td>
            <input type="time" class="form-control" id="workHoursStartst" disabled>
            <span> по </span>
            <input type="time" class="form-control" id="workHoursEndst" disabled>
            <div>
            <input type="checkbox" class="form-check-input" id="weekendst" value="0">
            <label class="form-check-label" for="weekendst">Вихідний</label>
            </div>
          </td>
        </tr>
        <tr>
          <td>Неділя</td>
          <td>
            <input type="time" class="form-control" id="workHoursStartSun" disabled>
            <span> по </span>
            <input type="time" class="form-control" id="workHoursEndSun" disabled>
            <div>
            <input type="checkbox" class="form-check-input" id="weekendSun" value="0">
            <label class="form-check-label" for="weekendSun">Вихідний</label>
            </div>
          </td>
        </tr>
        <!-- Додайте інші дні тижня тут... -->
      </table>

  </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    // Show photo preview on file input change
    $("#photo").change(function() {
      if (this.files && this.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          $("#photoPreview").attr("src", e.target.result).removeClass("d-none");
        };
        reader.readAsDataURL(this.files[0]);
      }
    });

    // Enable editing of form fields


    // Handle weekend days selection
    $("#weekendSun, #weekendMon").change(function() {
      var day = $(this).attr("id").replace("weekend", "");
      if ($(this).is(":checked")) {
        $("#workHoursStart" + day + ", #workHoursEnd" + day).prop("disabled", true);
      } else {
        $("#workHoursStart" + day + ", #workHoursEnd" + day).prop("disabled", false);
      }
    });

    // Handle form submission


   $("#detailsButton").click(function() {
      $("#workScheduleSettings").toggle();
    });
    </script>
    {% endblock %}