<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Schedule</title>
    <!-- Підключення Bootstrap та jQuery -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container mt-4">
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th></th>
                {% for dates in format_dates %}
                <th>{{dates}}</th>
                {% endfor %}
            </tr>
        </thead>
<tbody>
    {% for hour in range(start_day_hour, end_day_hour * 2 + 1) %}
        <tr>
            <th>{{ hour // 2 }}:{{ "00" if hour % 2 == 0 else "30" }}</th>
            {% for day in dates %}
                <td data-toggle="modal" data-target="#bookingModal"
                    class="clickable {% if (hour // 2, day) in unavailable_slots %}unavailable{% endif %}"
                    data-slot="{{ (hour // 2) }}_{{ day }}">
                    <!-- Решта коду для комірки таблиці -->
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookingModalLabel">Booking Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="bookingForm" method="POST">
                    <input type="hidden" id="selectedSlot" name="selectedSlot">
                    <div class="form-group">
                        <label for="patientName">Patient Name</label>
                        <input type="text" class="form-control" id="patientName" name="patientName">
                    </div>
                    <div class="form-group">
                        <label for="patientPhone">Patient Phone</label>
                        <input type="text" class="form-control" id="patientPhone" name="patientPhone" >
                    </div>
                    <div class="form-group">
                        <label for="appointmentDay">Day</label>
                        <input type="text" class="form-control" id="appointmentDay" name="appointmentDay">
                    </div>
                    <div class="form-group">
                        <label for="appointmentTime">Hour</label>
                        <input type="text" class="form-control" id="appointmentTime" name="appointmentTime" >
                    </div>
                    <div class="form-group">
                        <label for="multiSelect">Service</label>
                          <select multiple class="custom-select" id="multiSelect" size="3" name="multiSelect">
                             {% for service in all_service  %}
                            <option value="{{ service[1] }}">{{ service[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="bookButton">Book</button>
                        <button type="button" class="btn btn-danger" id="cancelButton">Cancel</button>
                        <button type="button" class="btn" id="reBook" style="background-color:#009688; color: white;">reBook</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function () {
    var selectedSlot = null;

    $(".clickable").click(function () {
        selectedSlot = $(this).attr("data-slot");
        var cell = $(this);
        var hasData = cell.find(".booked-slot").length > 0;
        if ($(this).hasClass("unavailable")) {
            return; // Блокуємо можливість бронювання для недоступних комірок
        }
        if (hasData) {
              var bookedPatientString = cell.find(".booked-slot").data("patient");
            var correctedJSON = bookedPatientString.replace(/'/g, '"'); // Заміна апострофів на подвійні лапки
            var bookedPatient = JSON.parse(correctedJSON);

            var patientName = bookedPatient.name;
            var patientPhone = bookedPatient.phone;

            $("#patientName").val(patientName);
            $("#patientPhone").val(patientPhone);
        } else {
            $("#patientName").val("");
            $("#bookButton").prop("disabled", false);
        }

        var dayTime = selectedSlot.split("_");
        var time = dayTime[0];
        var day = dayTime[1];

        $("#appointmentDay").val(day);
        $("#appointmentTime").val(time);
        $("#selectedSlot").val(selectedSlot);
        $("#bookingModal").modal();
    });

    $("#bookingForm").submit(function (event) {
        event.preventDefault();
        var formData = $(this).serialize();

        $.ajax({
            type: "POST",
            url: "/schedule",
            data: formData,
            success: function (response) {
                console.log(response);
                $("#bookingModal").modal("hide");

            },
            error: function () {
                // Handle error
            }
        });
    });

    $("#cancelButton").click(function () {
        var appointmentvalue = $("#appointmentDay").val();
        var appointmenttimevalue = $("#appointmentTime").val();

        var formData = {
        appointmentDay: appointmentvalue,
        appointmentTime: appointmenttimevalue
    };

        $.ajax({
            type: "POST",
            url: "/schedule/del",
            data: formData,
            success: function (response) {
                console.log(response);
                $("#bookingModal").modal("hide");

            },
            error: function () {
                // Обробка помилок
            }
        });
    });
});
</script>

</body>
<!--                location.reload();-->
</html>